<% admin_breadcrumb link_to(plural_resource_name(model_class), spree.admin_entry_types_path) %>
<% admin_breadcrumb @entry_type.name %>

<%= render 'spree/shared/error_messages', target: @object %>

<%= form_for @entry_type, url: spree.admin_entry_type_path(@entry_type) do |form| %>
  <fieldset data-hook="edit_entry_type">
    <%= content_tag :legend, model_class.model_name.human %>
    <%= render 'form', form: form %>

    <div class="form-buttons filter-actions actions" data-hook="buttons">
      <%= submit_tag t('spree.actions.update'), class: 'btn btn-primary' %>
      <%= link_to t('spree.actions.cancel'), collection_url, class: 'button' %>
    </div>
  </fieldset>
<% end %>
