<% admin_layout "full-width" %>

<% admin_breadcrumb plural_resource_name(model_class) %>

<% content_for :page_actions do %>
  <li>
    <%= link_to t(:new, scope: %i[spree admin entry_type]), new_admin_entry_type_url, class: 'btn btn-primary' %>
  </li>
<% end if can?(:create, model_class) %>

<%= paginate @collection, theme: "solidus_admin" %>

<% if @collection.any? %>
  <table class="index" id="listing_entry_types">
    <colgroup>
       <col style="width: 50%;">
       <col style="width: 50%;">
    </colgroup>
    <thead>
      <tr data-hook="admin_products_index_headers">
        <th><%= model_class.human_attribute_name(:name) %></th>
        <th><%= model_class.human_attribute_name(:provider) %></th>
      </tr>
    </thead>
    <tbody>
      <% @collection.each do |entry_type| %>
        <tr id="<%= spree_dom_id entry_type %>" data-hook="admin_entry_types_index_rows">
          <td>
            <%= entry_type.name %>
          </td>
          <td>
            <%= entry_type.provider_name %>
          </td>
          <td class="actions" data-hook="admin_entry_types_index_row_actions">
            <%= link_to_delete entry_type, url: admin_entry_type_url(entry_type),
              class: 'trash delete-entry-type' if can?(:destroy, entry_type) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="no-objects-found">
    <%= render 'spree/admin/shared/no_objects_found',
      resource: model_class,
      new_resource_url: new_admin_entry_type_url %>
  </div>
<% end %>

<%= paginate @collection, theme: "solidus_admin" %>
