<fieldset class="no-border-bottom">
  <legend>
    <%= @entry.entry_type.name %>
    <%= model_class.human_attribute_name(:options) %>
    (<%= SolidusContent.human_provider_name(@entry.entry_type.provider_name) %>)
  </legend>

  <div class="row">
    <% @entry.entry_fields.each do |field| %>
      <div class="col-12" data-hook="admin_entry_<%= field %>">
        <div class="field" id="solidus_content_entry_<%= field %>_field">
          <%= form.label field %>
          <%= form.text_field field, class: 'fullwidth' %>
        </div>
      </div>
    <% end %>
  </div>
</fieldset>
